<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>openWeatherBaluchApi</key>
	<string>98a4d4b59ace1e6719047d01993beb67</string>
	<key>googleTranslateAPI</key>
	<string>AIzaSyD16rtcv2RYPtQA4H0QFGtF7-guHAKQN50</string>
</dict>
</plist>
